@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --primary: 142.1 76.2% 36.3%;
    --secondary: 240 4.8% 95.9%;
    --muted: 240 4.8% 95.9%;
    --accent: 240 4.8% 95.9%;
    --destructive: 0 84.2% 60.2%;
    --border: 240 5.9% 90%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --popover: 0 0% 9%;
    --primary: 142.1 70.6% 45.3%;
    --secondary: 240 3.7% 15.9%;
    --muted: 0 0% 15%;
    --accent: 12 6.5% 15.1%;
    --destructive: 0 62.8% 30.6%;
    --border: 240 3.7% 15.9%;
  }
}

@layer utilities {
  .gradient-effect {
    @apply bg-gradient-to-r from-green-500 to-blue-500 bg-clip-text text-transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
